.movies-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 49px 10px 69px;
  gap: 20px;

  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  /* grid-template-rows: repeat(auto-fit, minmax(232px, 1fr)); */

}

.movies-button {
  margin: 0 10px;
  width: 93.75%;
  min-height: 36px;
  border-radius: 6px;
  background: #2f2f2f;
  color: #fff;
  text-align: center;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
}



@media (min-width: 768px) {
  .movies-list {
    margin-top: 70px;
    gap: 40px;
  }

  .movies-button {
    margin-top: 11px;
    width: 92%;
  }

}
