.about-project {
    background: #202020;
}

.about-project__title {
    color: #FFF;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.72px;
}

.about-project__description {
    color: #FFF;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 18px;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 145.455% */
}