.about-project {
  background: #202020;

  padding: 70px 18px 0;
  text-align: left;
}

.about-project__blocks {
  margin: 60px 0;

}

.about-project__title {
  color: #fff;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.72px;
  margin: 0;
  border-bottom: 1px #dadada solid;
  height: 46px;
}

.about-project__title-description {
  color: #fff;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.72px;
}

.about-project__description {
  color: #fff;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 18px;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  /* 145.455% */
}

.about-project__grid {
  display: grid;
  row-gap: 10px;
  padding: 0;
  margin: 0;


  grid-template-columns: 100px 184px;
  grid-template-rows: repeat(2, 1fr);
}

.about-project__grid-title {
  color: #000;
  text-align: center;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #3ddc84;
padding: 11px;

  margin: 0;
}

.about-project__grid-title_long {
  color: #fff;
  background: #303030;
}

.about-project__grid-description {
  color: #a0a0a0;
  text-align: center;
  font-family: Suisse Intl;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0;
  margin: 0;
  height: min-content;
}
