.footer {
 background-color: #202020;
 margin-top: 130px;
 padding: 0 10px;
}

.footer__heading {
    color: #8B8B8B;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-bottom: 1px #424242 solid;
    min-height: 36px;
    margin-bottom: 30px;
}

.footer__caption {

}

.footer__date {
    color: #8B8B8B;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 30px;
}

.footer__service {
    color: #FFF;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 14px;
}
