.navigation {
    display: flex;
    justify-content: space-between;    
    padding: 25px 53px;
    background: #272727;
}

.navigation__link {
    color: white;
    text-align: center;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 145.455% */
    text-decoration-line: underline;
}